

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		background-color: #19364C;
	}

	body,input,textarea,select
	{
		font-size: 11pt;
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding: 0em 0em;
	}

	.homepage #banner
	{
		padding: 28% 0em;

	}
	
